@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <h1>Демо версия</h1>
        <div class="ad-placeholder" data-zoneid="2" style="margin: 0 auto;"></div>
    </div>
    <div class="col-md-4">
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            var $adPlaceholders = $('.ad-placeholder');
            $adPlaceholders.each(function () {
                var $adPlaceholder = $(this);
                var ZoneID = $adPlaceholder.data('zoneid');
                $.getJSON(
                    '/api/Banner',
                    {
                        ZoneID: ZoneID 
                    },
                    function (data) {
                        console.log(data);
                        $adPlaceholder.height(data.BannerHeight);
                        $adPlaceholder.width(data.BannerWidth);
                        $adPlaceholder.html(data.BannerHtml);
                    }
                );
            })
        })
    </script>
}  