@{
    ViewBag.Title = "Домашняя страница";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Демо версия</h1>
        <div class="ad-placeholder" data-zoneid="2" style="margin: 0 auto;"></div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            //$('body').prepend('<div class="ad-placeholder" data-zoneid="2" style="margin: 0 auto;"></div>');
            var $adPlaceholders = $('.ad-placeholder');
            $adPlaceholders.each(function () {
                var $adPlaceholder = $(this);
                var ZoneID = $adPlaceholder.data('zoneid');
                $.getJSON(
                    'http://localhost:53596/api/Banner',
                    {
                        ZoneID: ZoneID
                    },
                    function (data) {
                        console.log(data);
                        $adPlaceholder.height(data.BannerHeight);
                        $adPlaceholder.width(data.BannerWidth);
                        $adPlaceholder.html(data.BannerHtml);
                    }
                );
            });
            /*
            javascript: (function () {
                function l(u, i) {
                    var d = document;
                    if (!d.getElementById(i)) {
                        var s = d.createElement('script');
                        s.src = u;
                        s.id = i;
                        d.body.appendChild(s);
                    }
                }
                l('//code.jquery.com/jquery-3.2.1.min.js', 'jquery')
            })();
            */
        })
    </script>
}  